<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Aluguer de libros cómics</title>
    </head>
    <body>
        <h1>Aluguer de libros e cómics</h1>
        <h3>Libros e cómics dispoñibles para alugar: </h3>
        <!-- Marcador para inserir os libros -->
        <!-- {LIBROS_COMICS} -->
        <br>
        <form method="POST">
            <label>Que libro/cómic queres alugar: <input type="text" name="librocómic_alugar" required></label><br><br>
            <label>Cantos unidades queres: <input type="number" name="cantidade_alugar" value="1" required></label><br><br>
            <input type="submit" name="alugar" value="Alugar">
        </form>
    </body>
</html>