<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Configuración de usuario</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/dashboard.css">
    </head>
    <body>
        <h1>Configuración do usuario</h1>
            Usuario: <br><br>
            Contrasinal: <input type="password" name="contrasinal_usuario" required><br><br>
            Repite Contrasinal: <input type="password" required><br><br>
            Nome: <input type="text" name="nome" required><br><br>
            Dirección: <input type="text" name="direccion_usuario" required><br><br>
            Teléfono: <input type="number" name="telefono_usuario" required><br><br>
            DNI|NIF: <input type="number" name="telefono_usuario" required><br><br>
            <input type="submit" value="Cambiar credenciais" >
    </body>
</html>