<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Páxina de inicio</title>
    </head>
    <body>
        <h1>Benvido</h1>
        <form method="post">
            Nome de usuario: <input type="text" name="usuario" required><br><br>
            Contrasinal: <input type="password" name="contrasinal" required><br><br>
            <input type="submit" name="acesso" value="Acceder"> 
        </br></br>
        </form>
        <input type="submit" name="rexistro" value="Rexistrarse">
</html>