<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Menú Administrador</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <div class="menu-container">
        <h1>Painel de Administrador</h1>
        <nav>
            <ul>
                <li><a href="#">Admitir novos usuarios</a></li>
                <li><a href="#">Engadir libros en aluguer</a></li>
                <li><a href="#">Engadir libros á venda</a></li>
                <li><a href="#">Eliminar libros de aluguer</a></li>
                <li><a href="#">Eliminar libros de venda</a></li>
                <li><a href="#">Modificar libros</a></li>
                <li><a href="#">Xerar informes</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>