<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Menú para usuarios</title>
    </head>
    <body>
        <h1>Benvido</h1>
        <form method="POST">
        <input type="submit" name="ver_libroscomics_aluguer" value="Ver lista dos libros e comics en aluguer" > </br></br>
        <input type="submit" name="ver_libroscomics_venda" value="Ver lista dos libros e comics en venda" > </br></br>
        <input type="submit" name="conf_usuario" value="Modificar os datos como cliente"> </br></br>
        </form>
    </body>
</html>