<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Menú Usuario</title>
    <link rel="stylesheet" href="../View/css/styles.css">
    <link rel="stylesheet" href="../View/css/dashboard.css">
</head>
<body>
    <div class="menu-container">
        <h1>Menú do Usuario</h1>
        <nav>
            <form method="POST">
                <button type="submit" name="ver_libroscomics_aluguer">Ver libros en aluguer</button>
                <button type="submit" name="ver_libroscomics_venda">Ver libros á venda</button>
                <button type="submit" name="conf_usuario">Modificar datos</button>
                <button type="submit" name="devolucion_libroscomics">Devolver libros</button>
                <button type="submit" name="aluguer_libroscomics">Alugar libros</button>
                <button type="submit" name="compra_libroscomics">Comprar libros</button>
            </form>
        </nav>
    </div>
</body>
</html>