<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Menú Usuario</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <div class="menu-container">
        <h1>Menú do Usuario</h1>
        <nav>
            <ul>
                <li><a href="aluguer_libroscomics.html">Ver libros en aluguer</a></li>
                <li><a href="compra_libroscomics.html">Ver libros á venda</a></li>
                <li><a href="conf_usuario.html">Modificar datos</a></li>
                <li><a href="devolucion_libroscomics.html">Devolver libros</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>