<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Rexistrase</title>
    </head>
    <body>
        <h1> Rexistrate </h1>
        <form method="post">
            Nome de usuario: <input type="text" name="usuario" required><br><br>
            Contrasinal: <input type="password" name="contrasinal" required><br><br>
            Repite Contrasinal: <input type="password" name="repite_contrasinal" required><br><br>
            Nome: <input type="text" name="nome" required><br><br>
            Dirección: <input type="text" name="direccion" required><br><br>
            Teléfono: <input type="number" name="telefono" required><br><br>
            DNI|NIF: <input type="number" name="nifdni" required><br><br>
            <input type="submit" name="rexistro" value="Rexistrarse"> 
        </form>
    </body>
</html>